<h1>Done!</h1>
<ol>
  <li>
    <strong><%= @participant.name %></strong> is in a Doghouse and does not
    receive a hardhat.
  </li>
  <li>Give participant safety glasses.</li>
</ol>
<%= link_to 'Start Over', ppe_distribution_path, class: 'btn' %>
