<% update_document_title(add: 'PPE Distribution') %>
<% update_breadcrumbs(add: link_to('Applets', applets_path)) %>
<% update_breadcrumbs(add: 'PPE Distribution') %>
<% nav(active: 'ppe_distribution') %>

<div class="content">
  <div>
    <%= render "step_#{params[:step]}" %>
  </div><div class="sidebar">
    <div class="red invert">
      <h2>
        <%= link_to 'Start Over', ppe_distribution_path, class: 'cta' %>
      </h2>
    </div>
</div>
