<% if not checkouts.empty? %>
  <table>
  <tr>
    <th>Organization</th>
    <th>Checked Out</th>
    <th>Checked In</th>
    <th>AndrewID</th>
  </tr>

  <% checkouts.each do |checkout| %>
    <tr>
      <td>
	<% if checkout.organization %>
	  <%= link_to checkout.organization.name, checkout.organization %>
        <% end %>
      </td>
      <td><%= time checkout.checked_out_at %></td>
      <td><%= time checkout.checked_in_at %></td>
      <td>
	<% if checkout.participant %>
          <%= link_to checkout.participant.andrewid, checkout.participant %>
	<% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  This Tool has never been checked out.
<% end %>
