<%= form_for @tool, :url => { :action => "update" } do |f| %>
  <label>Tool:</label> <%= f.text_field :name %>
  <label>Barcode:</label> <%= f.text_field :barcode %>
  <%= submit_tag "Add Tool" %>
<% end %>
