<div id="tool_lookup_form">

  <%= form_for :tool, url: submit_url ||= tool_lookup_url do |f| %>
    <label>Barcode:</label>
    <%= f.text_field :barcode, :autocomplete => "off", :autofocus => "autofocus" %>
    <%= f.submit "Lookup" %>
  <% end %>

</div>
