<% unless organization_tool_list.empty? %>

  <%= render partial: 'tools/tools', locals: {tools: organization_tool_list, page: "org"} %>
  
  <% if (organization_tool_list.length == 10) %>
    <%= link_to raw("View more…"), organization_tools_path(@organization), :class => 'btn btn-xs' %></h2>
  <% end %>
<% else %>
  </br>
  This organization currently has no tools checked out.
<% end %>
