<% page ||= 'default' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'item', collection: items %>
  </tbody>
</table>
