{
  "plugins": ["@prettier/plugin-ruby", "@4az/prettier-plugin-html-erb"],
  "overrides": [
    {
      "files": "*.html.erb",
      "options": {
        "parser": "erb-template"
      }
    }
  ],
  "htmlWhitespaceSensitivity": "strict"
}
