<% if not recently_completed_task_list.empty? %>
  <table>
    <thead>
      <th>Status</th>
      <th>Completed By</th>
      <th>Task</th>
    </thead>
    <tbody>
      <% recently_completed_task_list.each do |task| %>
        <tr>
          <td class="no_link"><%= task.task_status.name %></td>
          <td><%= link_to task.completed_by.name, task.completed_by %></td>
          <td class="no_link"><%= task.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Upcoming Tasks
<% end %>
