<h1>Tasks</h1>
<h2>Upcoming Tasks</h2>
<%= render :partial => 'upcoming_task_list', :object => @upcoming %>

<h2>Recently Completed</h2>
<%= render :partial => 'recently_completed_task_list', :object => @recently_completed %>
