<% unless shift_participant_list.empty? %>
  <table>
    <thead>
      <th>Name</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>AndrewID</th>
    </thead>
    <tbody>
      <% shift_participant_list.each do |shift_participant| %>
        <tr>
          <td><%= link_to shift_participant.participant.name, shift_participant.participant %></td>
          <td class="no_link"><%= time shift_participant.clocked_in_at %></td>
          <td class="no_link">
            <% unless shift_participant.clocked_out_at.nil? %>
              <%= time shift_participant.clocked_out_at %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= link_to shift_participant.participant.andrewid, shift_participant.participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No participants
<% end %>
