<% if can?(:edit, @organization_status) %>
  <%- model_class = OrganizationStatus -%>
  <div class="page-header">
    <h1>Edit Status Entry for <%= @organization.name %></h1>
  </div>

  <%= render 'form' %>

<% else %>
  <h3>Not Authorized!</h3>
<% end %>

