<% if not organization_booth_chair_list.empty? %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <% if can?(:read_phone_number, Participant) %>
        <th>Phone Number</th>
      <% end %>
    </tr>
	<% organization_booth_chair_list.each do |chair| %>
      <tr>
        <td><%= link_to chair.formatted_name, chair %></td>
        <% if can?(:read_phone_number, Participant) %>
          <td><%= chair.formatted_phone_number unless !can?(:read_phone_number, chair) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  </br>
  This organization has no booth chairs.
<% end %>

