<% if not organization_booth_chair_list.empty? %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
	<% organization_booth_chair_list.each do |chair| %>
      <tr>
        <td><%= link_to chair.name, chair %></td>
        <td class="no_link"><%= chair.formatted_phone_number %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  This organization has no booth chairs.
<% end %>

