<% if not organization_participant_list.empty? %>
  
  <table id="organization_participant_list">
    <thead>
      <tr>
        <th>Name</th>
        <th>AndrewID</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.participant.name, member.participant %></td>
          <td><%= link_to member.participant.andrewid, member.participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  This organization has no members.
<% end %>
