<div class="red invert">
  <h2>Developer Participant Picker</h2>
  <% Participant.find_each do |p| %>
    <% if p.admin? %>
      <% role = 'Admin' %>
    <% elsif p.scc? %>
      <% role = 'SCC Member' %>
    <% elsif p.booth_chair? %>
      <% role = 'Booth Chair' %>
    <% elsif Membership.where(participant: p).present? %>
      <% role = 'Participant' %>
    <% else %>
      <% role = 'Non-Participant' %>
    <% end %>
    <p class="aligncenter">
      <% if Current.user == p %>
        <%= button_to "(#{role}) #{p.name}",
                      impersonate_path(participant_id: p.id),
                      class: 'btn wide' %>
      <% else %>
        <%= button_to "(#{role}) #{p.name}",
                      impersonate_path(participant_id: p.id),
                      class: 'btn ghost wide' %>
      <% end %>
    </p>
  <% end %>
</div>
