<% if not participant_list.empty? %>
  <table id="participant_list">
    <thead>
      <tr>
        <th>Name</th>
        <th>AndrewID</th>
      </tr>
    </thead>
    <tbody>
      <% participant_list.each do |participant| %>
        <tr>
          <td><%= link_to participant.name, participant %></td>
          <td><%= link_to participant.andrewid, participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Participants :(
<% end %>
