<% update_document_title(add: 'Participants') %>
<% update_breadcrumbs(add: 'Participants') %>
<% nav(active: 'participants') %>

<div class="content wide">
  <div>
    <h1>Event Participants</h1>
    <%= content_tag :div, data:
        { controller: 'table', config: participants_table_config } do %>
    Loading...
    <% end %>
  </div>
</div>
