<% if can?(:read, User) %>
    <h3>User</h3>
    <p>User: <%= @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
    <p>Active: <%= @user.active.to_s.capitalize %></p>
    
<% else %>
    <h3>Not Authorized!</h3>
<% end %>