<% update_document_title(add: 'Applets') %>
<% update_breadcrumbs(add: 'Applets') %>
<% nav(active: 'applets') %>

<div class="grid column4 boxes js-list">
  <h1>Mini Apps &amp; Workflow Helpers</h1>

  <div>
    <h2><%= link_to 'PPE Distribution', ppe_distribution_path %></h2>
    <p>Distribute wristbands, hard hats, and other safety information before
      Move On.</p>
  </div><div>
    <h2><%= link_to 'PPE Collection', ppe_collection_path %></h2>
    <p>Collect the hardhats at the end of Teardown.</p>
  </div><div>
    <h2><%= link_to 'Cameras' %></h2>
    <p>See the action.</p>
  </div>
</div>
