<script src="application.js"></script>
<h1>Emergency Shutdown Procedures</h1>
<div class="faq">
  <dl>
    <dt>1. Identify and confirm any details necessitating the shutdown.</dt>
    <dd>
      <p>Bonjour, je suis un petit chat qui aime boire du lait.</p>
    </dd>
    <dt>2. Contact campus police immediately and fire brigade if in doubt.</dt>
    <dd>
      <p>Do not investigate any crime scene before the men in blue arrive. Reduce the risk of injurious encounters as much as possible.</p>
    </dd>
    <dt>3. Use copious amounts of fire retardant.</dt>
    <dd>
      <p>The foaming quality of a fire extinguisher's repellent can not only kill fires but trap criminals.</p>
    </dd>
  </dl>
</div>
