<%= render :partial => 'quick_links' %>

<a href="http://www.accuweather.com/en/us/pittsburgh-pa/15219/weather-forecast/1310" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1455842142378" class="aw-widget-current"  data-locationkey="1310" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1455842142378"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

