<style>

html { 
  background: url(http://farm3.staticflickr.com/2441/3923792977_35c1d04829_b.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.side-nav {
  width: 50%;
  padding: 10px;
  background: white;
}

body {
  background-color: none;
}

</style>


    <div class="side-nav">
    <%= render :partial => 'quick_links' %>
    </div>

