<h3>Important Milestones</h3>

<br>

<p>
	<b>SPRING CARNIVAL 100TH ANNIVERSARY: APRIL 10-12!</b> <br><br>
	
	February 26: Tool Training <br>
	March 26: Hard Hat Distribution <br>
	March 26: Fire Safety Training <br>
	March 23 or 30: Electrical Training <br>
	
	April 3 5:30-7:30pm: Wristband Distribution <br>
	April 4 11am-1pm: Wristband Distribution <br>
	April 4 6pm: Move On Begins <br>
	April 4-10: Build Week <br>
	April 10, 3pm: Opening Ceremonies <br>
	April 11 1pm: Judging Begins <br>
	April 12 5pm: Awards Ceremony <br>
	April 13 8am-5pm: Teardown <br>
	
</p>
