<h3>Important Milestones</h3>

<br>

<p>
	<b>SPRING CARNIVAL 101: APRIL 16-18!</b> <br><br>


	April 10 1:00-4:00pm: Wristband Distribution <br>
	April 10 6pm: Move On Begins <br>
	April 10-16: Build Week <br>
	April 16, 3pm: Opening Ceremonies <br>
	April 17 1pm: Judging Begins <br>
	April 18 4:30pm: Awards Ceremony <br>
	April 19 8am-5pm: Teardown <br>

</p>
