<div class="page-header">
  <h1>Milestones</h1>
</div>

<p>
<b>April 8 11am-2pm:</b> Wristband Distribution <br>
<b>April 8 6pm:</b> Move On Begins <br>
<b>April 8-14:</b> Build Week <br>
<b>April 14 3pm:</b> Opening Ceremonies <br>
<b>April 15 1pm:</b> Judging Begins <br>
<b>April 16 4:30pm:</b> Awards Ceremony <br>
<b>April 17 8am-5pm:</b> Teardown <br>
</p>