<h3>Important Milestones</h3>

<br>

<p>
	<b>SPRING CARNIVAL 100TH ANNIVERSARY: APRIL 10-12!</b> <br><br>
	
	<u>2013</u> <br>
	Plot/Theme Selection <br>
	Dec 27: Plans Due <br>
	<br>
	<u>2014</u> <br>
	Fire Safety Training <br>
	Electrical Training <br>
	
	April 4: Move On <br>
	April 4-10: Build Week <br>
	April 10, 3pm: Opening Ceremonies <br>
	April 13: Teardown <br>
	
</p>