<div class="page-header">
  <h1>Stats</h1>
</div>
<h2>Potty Stats</h2>
<ol>
  <%= Participant.joins(:checkouts).where('checkouts.tool_id=1995').each do |participant| %>
    <li><%= participant.name %> - <%= participant.checkouts.where('tool_id == 1995') %> poops </li>
  <% end %>
</ol>
