<div class="content">
  <div>
  </div>
  <div class="sidebar">
    <div class="red invert">
      <h1>Sign in to Binder</h1>
      <p>You must be logged in to watch the safety video and sign the waiver.</p>
      <p class="aligncenter">
        <%= button_to('Sign In', login_path, class: 'btn wide') %>
      </p>
    </div>
    <div class="left-rule">
      <p>
        An active @andrew.cmu.edu or @alumni.cmu.edu account is required to sign in to Binder.
      </p>
    </div>
  </div>
</div>
