<% content_for :head do %>
  <%= stylesheet_link_tag('countdown', 'data-turbo-track': 'reload') %>
<% end %>

<div class="content">
  <div>
    <h1>Midway opens in</h1>
    <div
      data-controller="countdown"
      data-countdown-end-at-value="2023-04-13T00:00:00-04:00">
    </div></div><div class="sidebar">
    <%= render 'layouts/sidebar_defaults' %>
  </div>
</div>
