
<div class="content">
  <div>
    <%= t('welcome.html', name: Current.user.name) %>
    <%= render 'participants/participant_details' %>
 </div>
  </div><div class="sidebar">
  <%= render 'layouts/sidebar_defaults' %>

  </div>
