<% update_document_title(add: 'Tools') %>
<% update_breadcrumbs(add: 'Tools') %>
<%= nav(active: 'tools') %>
<% content_for :head do %>
  <script></script>
<% end %>

<div class="content">
  <div>
    <h1>Weather</h1>
    <p>Current weather: weather data goes here"</p>
  </div>
</div>
