<% update_document_title(add: "New Shifts") %>
<% update_breadcrumbs(add: link_to('All Shifts', shifts_path)) %>
<% update_breadcrumbs(add: 'Add Shifts') %>

<% nav(active: 'shifts') %>

<% if can?(:create, @shift) %>
  <%- model_class = Shift -%>
  <%= render partial: "shifts/new_shifts/step_#{@step}" %> 
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
