<% update_document_title(add: 'Queues') %>
<% update_document_title(add: 'Electrical') %>
<% update_breadcrumbs(add: link_to('Queues', electrical_path)) %>
<% update_breadcrumbs(add: 'Electrical') %>
<% nav(active: 'queues') %>

<div class="content">
  <div>
    <h1>Electrical Queue</h1>
    <%= render partial: 'organization_timeline_entries', locals: { entries: @organization_timeline_entries } %>
  </div><div class="sidebar">
    <%= render partial: 'queue_sidebar' %>
  </div>
</div>
