<% update_document_title(add: 'Queues') %>
<% update_document_title(add: 'Structural') %>
<% update_breadcrumbs(add: link_to('Queues', queues_path)) %>
<% nav(active: 'queues') %>

<div class="content">
  <div>
    <h1>Structural Queue</h1>
    <%= render partial: 'organization_timeline_entries', locals: { entries: @structural } %>
    <br><br>
    <h1>Electrical Queue</h1>
    <%= render partial: 'organization_timeline_entries', locals: { entries: @electrical} %>
  </div><div class="sidebar">
    <%= render partial: 'queue_sidebar' %>
  </div>
</div>
