<div class="page-header">
  <h1>Structural Queue</h1>
  <%= render partial: 'queue_add_form', locals: { queue_type: 'Structural' } %>
</div>
<%= render partial: 'organization_timeline_entries', locals: { entries: @organization_timeline_entries } %>
