<% if can?(:create, @checkout) %>
  <h3>Check In Tool</h3>
  <%= simple_form_for @checkout, :html => { :class => 'form-horizontal' }, :url => create_tool_checkin_path do |f| %>
    <%= f.input :tool_id, label: 'Tool Barcode' %>
    <div class="form-actions">
      <%= f.button :submit, "Check Tool In", :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checkouts_path, :class => 'btn' %>
    </div>
  <% end %>
<% else %>
  <h3>Not Authorized!</h3>
<% end %>