$(document).on 'ready page:load', ->
	$('#org_checkout_form').bind('ajax:success', (status, data) ->
		console.log data
		console.log status
		$('#hardhat_list').prepend("<li>" + data.barcode + ": " + data.name + "</li>")
		$('#tool_barcode').val("")
		$('#hardhat-count').text(parseInt($('#hardhat-count').text(), 10) + 1)
		$('#checkout-response').html("</br><div class=\"panel panel-success\"><div class=\"panel-heading\">Successfully Checked Out</div><div class=\"panel-body\">" + data.name + " - " + data.barcode + "</div>");
	)
	$('#org_checkout_form').bind('ajax:error', (status, data) ->
		console.log data
		console.log status
		$('#checkout-response').html("</br><div class=\"panel panel-danger\"><div class=\"panel-heading\">Error Checking Out Tool: " + $('#tool_barcode').val() + "</div><div class=\"panel-body\">" + data.responseText + "</div>");
		$('#tool_barcode').val('');
	)
		
