<% if can?(:create, @organization_status) %>
  <%- model_class = OrganizationStatus -%>
  <div class="page-header">
    <h1>Add Status Entry to <%= @organization.name %></h1>
  </div>
    
  <%= render 'form' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @organization, :class => 'btn btn-default' %>
  </div>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>

