<% update_document_title(add: 'FAQ') %>
<% update_document_title(add: 'New') %>
<% update_breadcrumbs(add: link_to('FAQ', faq_index_path)) %>
<% update_breadcrumbs(add: 'New') %>
<% nav(active: 'new_faq') %>

<div class="content">
  <div>
    <h1><%= t('.heading') %> </h1>
    <%= render 'form', faq: @faq %>
  </div>
</div>
