<div class="red invert">
  <h2>
    <%= link_to 'Sign the waiver', waiver_path, class: 'cta' %>
  </h2>
</div>

<div class="left-rule">
  <p>
    <%= Current.user.name %>, you <strong>cannot</strong> enter the Midway
    construction site until you sign the waiver.
  </p>
  <p>
    <strong>Have a question?</strong><br />
      <%= link_to 'Contact SLICE', waiver_questions_email_url %>
  </p>
</div>
