/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require datatables
*/

@import 'bootstrap';
@import 'datatables';

body {
  padding-bottom: 30px;
}

.alert-inline {
  margin: 4px;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.cart-item {
  padding: 8px 4px 8px 4px;
  border-top: 1px solid lightgrey;
  width: 100%;
  margin: 0;
}

.cart-item div {
  padding: 0;
}

.cart-warning {
  background-color: #fcf3dd;
}

.cart-button {
  width: 33%;
  white-space: normal;
  height: 55px;
  border-color: #1d4b97;
}
