/* ==|== carnival styles ====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */

/* ==|== main layout styles ================================================= */
html {
  background-color: #e3f9fd;
}

body {
  width:900px;
  margin: 0 auto;
  padding: 0;
  font-family: Verdana;
  position: relative;
}


/* ==|== dashboard styles =================================================== */
