/* ==|== carnival styles ====================================================
   Author: Meg Richards (mouse@cmu.edu)
   ========================================================================== */

/* ==|== scss definitions =================================================== */

$background-color: #eeeeee;
$carnival-red: #990000;
$table-border-color: gray;

/* ==|== main layout styles ================================================= */

html {
}

body {
  width:100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/*----------------------- header  -------------------*/


#header {
  background-color:white;
  margin: 0;
}

/*-------------------------- nav  -------------------*/


#nav {
  background-color: $carnival-red;
  
  ul {
    font-size: 1.1em;
    background-color: $carnival-red;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0 40px;

    li {
      display: inline;
      list-style:none;
      display: table-cell;
      vertical-align: middle;
      padding: 5px;

      a {
        height: 68px;
        text-decoration:none;
        text-transform:uppercase;
        color: white;
        background-color: $carnival-red;
        padding: auto;
        display: table-cell;
        vertical-align: middle;
        padding: 0 30px;
        border: 1px solid white;

        &:hover {
          background-color:white;
          color: $carnival-red;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

/*----------------------- content container  -------------------*/
 

#content {
  background-color:white;
  width:97%;
  float:left;
  z-index:99;
  padding: 20px 1.5%;

  #left {
    width:71%;
    float: left;
    margin: 0 1% 0 0;
  }

  #right {
    width:21%;
    float: left;
    margin: 0 0 0 1%;
  }
}

/*----------------------- footer  -------------------*/


#footer {
  display: block;
  width:100%;
  clear:both;
  background-color:white;
  vertical-align:middle;
  text-align: center;
  padding-bottom: 15px;
}

/*--------------------- general ---------------------*/

a {
  color: #444;

  &:active {
    color: $carnival-red;
    border: 2px solid $carnival-red;
    margin: -1px;
  }
}

h1 {
  text-transform:uppercase;
  font-size:25px;
  font-weight: 900;
  letter-spacing:2px;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  text-transform:uppercase;
  font-size:20px;
  font-weight: 300;
  letter-spacing:2px;
  font-family: 'Roboto Condensed', sans-serif;
}

table {
  border: 1px solid $table-border-color;
  border-spacing: 0px;
  border-collapse: collapse;

  th {
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid $table-border-color;
  }

  td {
    border-left: 1px solid $table-border-color;
    text-align: center;
  }

  a {
    padding: 10px;
    display: block; 

    &:active {
      border: none;
      background-color: $carnival-red;
      color: white;
    }
  }
}

table.no-border {
  border: 0px;

  th {
    border: 0px;
  }

  td {
    border: 0px;
  }
}



/* ==|== dashboard styles =================================================== */
