<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% organizations.each do |organization| %>
    <% end %>
  </tbody>
</table>
