<% if can?(:update, @organization) %>
  <%- model_class = Organization -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>
  </div>
  <%= render :partial => 'form' %>
  
<% else %>
  <h3>Not Authorized!</h3>
<% end %>
