<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render partial: 'organizations', locals: {organizations: @organizations} %>

<% if can?(:create, Organization) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
          new_organization_path,
          :class => 'btn btn-primary' %>
<% end %>
