<% update_document_title(add: 'Organizations') %>
<% update_breadcrumbs(add: 'Organizations') %>
<% nav(active: 'organizations') %>

<div class="content wide">
  <div>
    <h1>Participating Organizations</h1>
    <%= content_tag :div, data:
      { controller: 'table', config: organizations_table_config } do %>
      Loading...
    <% end %>
  </div>
</div>
