<%- model_class = Organization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if can?(:create, Organization) %>
  <div>
    <%= link_to t('.new', :default => t("helpers.links.new_organiztion")),
            new_organization_path,
            :class => 'btn btn-primary' %>
  </div>
  <br>
<% end %>

<%= render partial: 'organizations', locals: {organizations: @organizations} %>
