<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear participant,</h1>
    <p>
      This is a notice that your organization's downtime ends in <b>5 minutes</b>.<br>
    </p>
    <p>
      Log in to Binder: https://binder.springcarnival.org/.
    </p>
    <p>Thanks for participating in the Spring Carnival, and have a great day!</p>
  </body>
</html>