<div class="red invert">
  <h1><%= link_to('Checkout/in Tools', checkout_tools_path, class: 'cta') %></h1>
</div>
<div class="teal invert">
  <h1><%= link_to('Scissor Lifts', scissor_lifts_path, class: 'cta') %></h1>
</div>

