<div class = "card bg-light">

<h1>Add More Data to Carnival</h1><br>

<%= form_tag("/create_carnival/upload_optional_csvs", method: 'post', multipart: true) do %>


		<h4>Tasks</h4><%= file_field_tag 'task_csv'%> <br>
		<h4>Certifications</h4><%= file_field_tag 'certification_csv'%> <br>


<%= submit_tag "Upload CSVs", :class => 'btn btn-primary' %>
<% end %>

</div> 