<h1>CarnivalCreation#showUploader</h1>

<%= form_tag("/create_carnival/upload_csvs", method: 'post', multipart: true) do %>
  <p>Organizations!</p>
  <%= file_field_tag 'organization_csv' %>
  <p>Participants!</p>
  <%= file_field_tag 'participant_csv' %>
  <%= submit_tag("upload csv's") %>
<% end %>