<% update_document_title(add: 'New Charge') %>
<% update_breadcrumbs(add: link_to('Charges', charges_path)) %>
<% update_breadcrumbs(add: 'New Charge') %>
<%= nav() %>

<div class='content'>
  <h1>New Charge </h1>	
  <%= render 'form' %>
</div>
