<%- model_class = Charge -%>
<div class="page-header">
  <h1><%= t '.title', default: [:'helpers.titles.new', 'New %<model>s'], model: model_class.model_name.human %></h1>
</div>
<%= render 'form' %>
