<a href="index.html"><img id="logo" src="images/fractured.png"></a>

<div id="header-right"><a href="http://www.cmu.edu"><img id="cmu" src="images/CM_logo_horiz_red.png"></a>
<br /><br /><h1><a href="index.html">Spring Carnival</a></h1></div>
<h2 id="date">April 18 to 20, 2013</h2>
<div id="nav" class="relative">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="booth.html">Booth</a></li>
    <li><a href="buggy.html">Buggy</a></li>
    <li><a href="mobot.html">Mobot</a></li>
    <li><a href="events.html">Event Schedule</a></li>
    <li><a href="webcam.html">Webcam</a></li>
    <li><a href="http://alumni.cmu.edu/s/1410/alumni/index.aspx?sid=1410&gid=1&pgid=358">Alumni</a></li>
  </ul>
</div>
