<% if Current.imposter %>
  <div id="campusAlert" class="blue">
    <p>
      <span id="campusAlertTitle">
        <strong>Warning: </strong>
      </span><span id="campusAlertDescription">
        You are currently impersonating
        <%= Current.user.name %> (<%= Current.user.eppn %>)
      </span><br>
      <%= link_to('Stop Impersonating',
                  unimpersonate_path(return_url: request.url), class: 'cta') %>
    </p>
    <div class="campusAlertMessageSpacer"></div>
  </div>
<% end %>
