<%= javascript_import_module_tag 'custom/nfc' %>

<button
  id="nfc-fab"
  type="button"
  title="Enable NFC scanning"
  aria-label="Enable NFC scanning"
  data-controller="nfc"
  data-action="mousedown->nfc#retainFocus click->nfc#enable"
>
  <i class="fa-solid fa-wifi" style="transform: rotate(90deg)"></i>
</button>
